- var packageName = "@gabegabegabe/pug-lint-config"

doctype html
html(lang="en")
	head
		title #{packageName} Test Pug
		link(rel="stylesheet", href="~/scss/style.scss")
	body
		header: h1=`${packageName} Test Pug`
		main#content-root.container
			h2 List of Articles
			ul
				li.html-article: article
					h3 HTML
				li.pug-article: article
					h3 Pug
